@using Microsoft.EntityFrameworkCore.Metadata.Internal;
@model Historias_C.Models.Paciente

@{
    ViewData["Title"] = "Detalles paciente";
}

<h1>Detalles</h1>

<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObraSocial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObraSocial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DNI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DNI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
    </dl>
</div>



@if (Model.HistoriaClinica != null)
{
    <h2>Historia clínica del paciente @Model.Nombre</h2>
    @if (Model.HistoriaClinica.Episodios != null)
    {
        var episodiosOrdenados = Model.HistoriaClinica.Episodios.OrderByDescending(e => e.FechaYHoraInicio);


        @if (User.IsInRole(Configs.EmpleadoRolName))
        {
            <h3>Episodios</h3>
            <a asp-controller="Episodios" asp-action="Create" asp-route-pacienteId="@Model.Id">Crear episodio</a>
            <table class="table">
                <thead>
                    <tr>
                        <th>Motivo</th>
                        <th>Descripción</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Cierre</th>
                        <th>Fecha de Alta</th>
                        <th>Estado</th>
                        <th>Epicrisis</th>
                        <th>Empleado</th>
                        <th>Historia Clinica</th>
                </thead>
                <tbody>
                    @foreach (var episodio in episodiosOrdenados)
                    {
                        <tr>
                            <td>@episodio.Motivo</td>
                            <td>@episodio.Descripcion</td>
                            <td>@episodio.FechaYHoraInicio</td>
                            <td>@episodio.FechaYHoraCierre</td>
                            <td>@episodio.FechaYHoraAlta</td>
                            @if (episodio.EstadoAbierto == true)
                            {
                                <td>Abierto</td>
                            }
                            else
                            {
                                <td>Cerrado</td>
                            }
                            <td>@episodio.Epicrisis</td>
                            <td>@episodio.Empleado</td>
                            <td>@episodio.HistoriaClinica</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (Model.HistoriaClinica.Episodios.Any(episodio => episodio.Evoluciones != null && episodio.Evoluciones.Any(evolucion => !evolucion.EstadoAbierto && evolucion.Notas != null && evolucion.Notas.Any())))
            {
                <h4>Notas de evoluciones cerradas</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Evolucion</th>
                            <th>Empleado</th>
                            <th>Mensaje</th>
                            <th>Fecha</th>
                    </thead>
                    <tbody>
                        @foreach (var episodio in episodiosOrdenados)
                        {
                            foreach (var evolucion in episodio.Evoluciones.Where(e => !e.EstadoAbierto).OrderByDescending(e=> e.FechaYHoraCierre))
                            {
                                foreach (var nota in evolucion.Notas.OrderByDescending(n => n.FechaYHora))
                                {
                                    <tr>
                                        <td>@nota.Evolucion</td>
                                        <td>@nota.Empleado</td>
                                        <td>@nota.Mensaje</td>
                                        <td>@nota.FechaYHora</td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h5>El paciente no tiene notas cargadas.</h5>
            }
        }
        @if (User.IsInRole(Configs.MedicoRolName))
        {
            @if (episodiosOrdenados.Any(episodio => episodio.EstadoAbierto))
            {
                <h3>Episodios abiertos: </h3>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Motivo</th>
                            <th>Descripción</th>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Cierre</th>
                            <th>Fecha de Alta</th>
                            <th>Estado</th>
                            <th>Epicrisis</th>
                            <th>Empleado</th>
                            <th>Historia Clinica</th>
                    </thead>
                    <tbody>
                        @foreach (var episodio in episodiosOrdenados.Where(e => e.EstadoAbierto))
                        {
                            <tr>
                                <td>@episodio.Motivo</td>
                                <td>@episodio.Descripcion</td>
                                <td>@episodio.FechaYHoraInicio</td>
                                <td>@episodio.FechaYHoraCierre</td>
                                <td>@episodio.FechaYHoraAlta</td>
                                @if (episodio.EstadoAbierto == true)
                                {
                                    <td>Abierto</td>
                                }
                                else
                                {
                                    <td>Cerrado</td>
                                }
                                <td>@episodio.Epicrisis</td>
                                <td>@episodio.Empleado</td>
                                <td>@episodio.HistoriaClinica</td>
                                <td>
                                    <a asp-controller="Evoluciones" asp-action="Create" asp-route-id="@episodio.Id" class="btn btn-sm btn-warning"> Crear Evolución</a>
                                    <a>  </a>
                                    <a asp-controller="Episodios" asp-action="Edit" asp-route-id="@episodio.Id" class="btn btn-sm btn-warning"> Cerrar episodio</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @if (episodiosOrdenados.Any(episodio => episodio.Epicrisis != null))
                {
                    <h4>Epicrisis</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Episodio</th>
                                <th>Medico</th>
                                <th>Fecha</th>
                                <th>Diagnostico</th>
                                <th>Recomendacion</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var episodio in episodiosOrdenados.Where(e => e.Epicrisis != null))
                            {
                                <tr>
                                    <td>@episodio.Epicrisis.EpisodioId</td>
                                    <td>@episodio.Epicrisis.FechaYHora</td>
                                    <td>@episodio.Epicrisis.Descripcion</td>
                                    <td>@episodio.Epicrisis.Recomendacion</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>El paciente no tiene ninguna epicrisis.</h5>
                }
                @if (episodiosOrdenados.Any(episodio => episodio.Evoluciones != null && episodio.Evoluciones.Any()))
                {
                    <h4>Evoluciones</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Medico</th>
                                <th>Fecha de Inicio</th>
                                <th>Fecha de Alta</th>
                                <th>Fecha de Cierre</th>
                                <th>Descripcion</th>
                                <th>Estado</th>
                                <th>Episodio</th>
                        </thead>
                        <tbody>
                            @foreach (var episodio in episodiosOrdenados)
                            {
                                foreach (var evolucion in episodio.Evoluciones.OrderByDescending(e => e.FechaYHoraCierre))
                                {
                                    <tr>
                                        <td>@evolucion.Medico?.Apellido</td>
                                        <td>@evolucion.FechaYHoraInicio</td>
                                        <td>@evolucion.FechaYHoraAlta</td>
                                        <td>@evolucion.FechaYHoraCierre</td>
                                        <td>@evolucion.DescripcionAtencion</td>
                                        @if (episodio.EstadoAbierto == true)
                                        {
                                            <td>Abierto</td>
                                        }
                                        else
                                        {
                                            <td>Cerrado</td>
                                        }
                                        <td>@evolucion.Episodio.Motivo</td>
                                        <td>
                                            <a asp-controller="Evoluciones" asp-action="Edit" asp-route-id="@evolucion.Id">Cerrar Evolucion</a>
                                            @if (!evolucion.EstadoAbierto)
                                            {
                                                <a asp-controller="Notas" asp-action="Create" asp-route-id="@evolucion.Id">Crear Nota</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    @if (episodiosOrdenados.Any(episodio => episodio.Evoluciones != null && episodio.Evoluciones.Any(evolucion => !evolucion.EstadoAbierto && evolucion.Notas != null && evolucion.Notas.Any())))
                    {
                        <h4>Notas</h4>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Evolucion</th>
                                    <th>Empleado</th>
                                    <th>Mensaje</th>
                                    <th>Fecha</th>
                            </thead>
                            <tbody>
                                @foreach (var episodio in episodiosOrdenados)
                                {
                                    foreach (var evolucion in episodio.Evoluciones.Where(e => !e.EstadoAbierto).OrderByDescending(e => e.FechaYHoraCierre))
                                    {
                                        foreach (var nota in evolucion.Notas.OrderByDescending(n => n.FechaYHora))
                                        {
                                            <tr>
                                                <td>@nota.Evolucion</td>
                                                <td>@nota.Empleado</td>
                                                <td>@nota.Mensaje</td>
                                                <td>@nota.FechaYHora</td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h5>El paciente no tiene notas.</h5>
                    }
                }
                else
                {
                    <h5>El paciente no tiene evoluciones.</h5>
                }
            }
            else
            {
                <h5>El paciente no tiene ningun episodio abierto.</h5>
            }
        }
        @if (User.IsInRole(Configs.PacienteRolName))
        {
            <h3>Episodios</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Motivo</th>
                        <th>Descripción</th>
                        <th>Fecha de Inicio</th>
                        <th>Fecha de Cierre</th>
                        <th>Fecha de Alta</th>
                        <th>Estado</th>
                        <th>Epicrisis</th>
                </thead>
                <tbody>
                    @foreach (var episodio in episodiosOrdenados)
                    {
                        <tr>
                            <td>@episodio.Motivo</td>
                            <td>@episodio.Descripcion</td>
                            <td>@episodio.FechaYHoraInicio</td>
                            <td>@episodio.FechaYHoraCierre</td>
                            <td>@episodio.FechaYHoraAlta</td>
                            @if (episodio.EstadoAbierto == true)
                            {
                                <td>Abierto</td>
                            }
                            else
                            {
                                <td>Cerrado</td>
                            }
                            <td>@episodio.Epicrisis</td>
                        </tr>
                    }
                </tbody>
            </table>
            @if (episodiosOrdenados.Any(episodio => episodio.Epicrisis != null && episodio.Epicrisis != null))
            {
                <h4>Epicrisis</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Episodio</th>
                            <th>Medico</th>
                            <th>Fecha</th>
                            <th>Diagnostico</th>
                            <th>Recomendacion</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var episodio in episodiosOrdenados)
                        {
                            <tr>
                                <td>@episodio.Epicrisis.Episodio</td>
                                <td>@episodio.Epicrisis.FechaYHora</td>
                                <td>@episodio.Epicrisis.Descripcion</td>
                                <td>@episodio.Epicrisis.Recomendacion</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h3>No tienes ninguna Epicrisis.</h3>
            }
            @if (episodiosOrdenados.Any(episodio => episodio.Evoluciones != null && episodio.Evoluciones.Any()))
            {
                <h4>Evoluciones</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fecha de Inicio</th>
                            <th>Fecha de Alta</th>
                            <th>Fecha de Cierre</th>
                            <th>Descripcion</th>
                            <th>Estado</th>
                            <th>Episodio</th>
                    </thead>
                    <tbody>
                        @foreach (var episodio in episodiosOrdenados)
                        {
                            foreach (var evolucion in episodio.Evoluciones.OrderByDescending(e => e.FechaYHoraCierre))
                            {
                                <tr>
                                    <td>@evolucion.FechaYHoraInicio</td>
                                    <td>@evolucion.FechaYHoraAlta</td>
                                    <td>@evolucion.FechaYHoraCierre</td>
                                    <td>@evolucion.DescripcionAtencion</td>
                                    @if (evolucion.EstadoAbierto == true)
                                    {
                                        <td>Abierto</td>
                                    }
                                    else
                                    {
                                        <td>Cerrado</td>
                                    }
                                    <td>@evolucion.Episodio.Motivo</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
                @if (episodiosOrdenados.Any(episodio => episodio.Evoluciones != null && episodio.Evoluciones.Any(evolucion => evolucion.Notas != null && evolucion.Notas.Any())))
                {
                    <h4>Notas</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Evolucion</th>
                                <th>Mensaje</th>
                                <th>Fecha</th>
                        </thead>
                        <tbody>
                            @foreach (var episodio in episodiosOrdenados)
                            {
                                foreach (var evolucion in episodio.Evoluciones.Where(e => !e.EstadoAbierto).OrderByDescending(e => e.FechaYHoraCierre))
                                {
                                    foreach (var nota in evolucion.Notas.OrderByDescending(n => n.FechaYHora))
                                    {
                                        <tr>
                                            <td>@nota.Evolucion.DescripcionAtencion</td>
                                            <td>@nota.Mensaje</td>
                                            <td>@nota.FechaYHora</td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h5>No tienes notas.</h5>
                }
            }
            else
            {
                <h5>No tienes evoluciones.</h5>
            }
        }
        
    }
    else
    {
        <h3>El paciente no tiene episodios</h3>
        @if (User.IsInRole(Configs.EmpleadoRolName))
        {
            <a asp-controller="Episodio" asp-action="Create" asp-route-id="@Model.Id">Crear episodio</a>
        }
        @if (User.IsInRole(Configs.PacienteRolName))
        {
            <h2>No tienes episodios</h2>
        }
    }
}
else
{
    <h2>El paciente no tiene historia clinica.</h2>
}
