@model Historias_C.Models.Direccion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.calle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.calle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.altura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.altura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.barrio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.barrio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ciudad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
